script(id="msg_sent" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
    div(class=["row","msg_container","base_sent"])
        +columna(10,10,10)
            div(class=["messages","msg_sent"])
                p {{msg}}
                time(datetime="2009-11-13T20:00") Timothy • 51 min
        +columna(2,2,2,"padding-left: 2px;padding-right: 2px;")
            img(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive")

script(id="msg_receiver" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
        div(class=["row","msg_container","base_receive"])
        +columna(2,2,2,"padding-left: 2px;padding-right: 2px;")
            img(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive")
        +columna(10,10,10)
            div(class=["messages","msg_smsg_receiveent"])
                p {{msg}}
                time(datetime="2009-11-13T20:00") Timothy • 51 min
script(id="chat_windows" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
    div(class=["row","chat-window","chat_"+"{{_id}}"])
        +columna(3,3,3)
            div(class=["panel","panel-default"])
                div(class=["panel-heading","top-bar"])
                    +columna(8,8,8)
                        h3(class=["panel-title"])
                            span(class=["glyphicon","glyphicon-comment"]) 
                            span {{userTo.username}}
                    +columna(4,4,4,"text-align: right;")
                        a(href="#" )
                            span(class=["glyphicon","glyphicon-minus","icon_minim"])
                        a(href="#" )
                            span(class=["glyphicon","glyphicon-remove","icon_close"],data-id="chat_window_1")
                
                div(class=["panel-body","msg_container_base","msg_container_"+"{{_id}}"] id="msg_container")
                    
                div(class=["panel-footer"])
                    .input-group
                        input(type="hidden" name="target" class="hidden-reg" value="{{_id}}")
                        input(type="hidden" name="target_to" class="target_to" value="{{userTo._id}}")
                        input(type="text"   class=["form-control","input-sm","chat_input"] placeholder="Escribe tu mensaje aqui..s")
                        span(class="input-group-btn")
                            button(class=["btn", "btn-primary" ,"btn-sm","btn-chat"] ) Enviar

script(id="chat_msg" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
    div(class=["row","msg_container","base_sent"])
        +columna(10,10,10)
            div(class=["messages","msg_sent"])
                p {{msg}} 
                time(datetime='') Timothy • 51 min
        +columna(2,2,2,"padding-left: 2px;padding-right: 2px;")
            img(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive")

