script(id="msg_sent" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
    div(class=["row","msg_container","base_sent"])
        +columna(10,10,10)
            div(class=["messages","msg_sent"])
                p {{msg}}
                time(datetime="2009-11-13T20:00") Timothy • 51 min
        +columna(2,2,2,"padding-left: 2px;padding-right: 2px;")
            img(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive")

script(id="msg_receiver" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
        div(class=["row","msg_container","base_receive"])
        +columna(2,2,2,"padding-left: 2px;padding-right: 2px;")
            img(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive")
        +columna(10,10,10)
            div(class=["messages","msg_smsg_receiveent"])
                p {{msg}}
                time(datetime="2009-11-13T20:00") Timothy • 51 min
script(id="chat_windows" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
    div(class=["card chat position-fixed chat-{{_id}}"])
        .card-header.chat-header
            .float-right.chat-control
                a( class="chat_icon_minim text-right" data-toggle="collapse" href="#chat-body-{{_id}}" role="button" aria-expanded="false" aria-controls="chat-body-{{_id}}" )
                    i.fas.fa-minus.chat-minus
                a(href="javascript:"  class="chat_icon_close" data-id="chat_window_1")
                    i.fas.fa-times.text-right
            p.card-text
                small.text-muted {{userTo.nombres}} {{userTo.apellidos}}
        div(class="card-body chat-body collapse" id="chat-body-{{_id}}")
        div(class="card-footer chat-footer")
            .form-inline.my-2.my-lg-0
                input( idUser="{{_id}}" idUserTo="{{userTo._id}}" class="form-control chat_input form-control-sm" type="search" placeholder="Escribe tu mensaje aqui..." aria-label="Search")
                button.btn.btn-outline-success.btn-sm
                    i.fas.fa-paper-plane

script(id="chat_msg" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
    .row.msg_container.base_sent
        +columna(10,10,10)
            div(class=["messages","msg_sent"])
                p {{msg}} 
                time(datetime='') Timothy • 51 min
        +columna(2,2,2,"padding-left: 2px;padding-right: 2px;")
            img(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive")

