extends ./layout.jade
block contenido
    .jumbotron
    h1 Bienvenido a GAP!
    p Gestión de Agua Potable
    p 
        +link("primary","/login","small") Iniciar Sessión 
        +link("primary","/signup","small") Registro 