extends ./header.jade
block cuerpo
    nav( class="navbar navbar-light bg-light")
        button( class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation")
            span( class="navbar-toggler-icon")
        div( class="collapse navbar-collapse" id="navbarToggleExternalContent")
            ul( class="navbar-nav mr-auto mt-2 mt-lg-0")
                li( class="nav-item active")
                    a( class="nav-link" href="#") Home 
                li( class="nav-item")
                    a( class="nav-link" href="#") Link
                li( class="nav-item")
                    a( class="nav-link disabled" href="#") Disabled
                
    div(class=["container-fluid"] ,id="container_gap")
            .row
                +column(2,2,1,"bd-sidebar")
                    
                +column(8,8,10,"bd-content")
                    
                    .jumbotron
                        h1( class="display-4") GEAP
                        h1 Bienvenido!
                        p Gestión de Agua Potable
                        kbd ctrl 
                        kbd *
                    div( class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups")
                        div( class="btn-group mr-2" role="group" aria-label="First group")
                            button( type="button" class="btn btn-secondary linkMenu") Emnu
                            button( type="button" class="btn btn-secondary") 2
                        div( class="btn-group mr-2" role="group" aria-label="Second group")
                            button( type="button" class="btn btn-secondary") 5
                        div( class="btn-group" role="group" aria-label="Third group" )    
                            button( type="button" class="btn btn-secondary") 8
                    nav( class="nav")
                        a( class="nav-link active" href="#") Active
                        a( class="nav-link" href="#") Link
                    svg( height="210" width="400")
                        path( d="M150 0 L75 200 L225 200 Z" )
               
                +column(2,2,1,"bd-sidebar")
    div(class=["container-fluid"] ,id="other")
        .jumbotron
            h1( class="display-4") GEAP
            h1 Bienvenido!
            p Gestión de Agua Potable
            kbd ctrl 
            kbd *