extends ./header.jade
block cuerpo
    body
        nav(class="navbar navbar-dark bg-dark fixed-top nav-menu")
            div( class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation")
                span.bar1
                span.bar2
                span.bar3
            div( class="collapse navbar-collapse" id="navbarToggleExternalContent")
                ul( class="navbar-nav mr-auto")
                    li( class="nav-item")
                        a( class="nav-link" href="/app/imagenes/new") Subir Imagen
                    li( class="nav-item")
                        a( class="nav-link " href="/app/imagenes") Mis Imagenes
                    li( class="nav-item")
                        a( class="nav-link " href="/app/imagenes/new_carousel") Nuevo Carousel
            ul( class="nav justify-content-end")
                li( class="nav-item")
                    a( class="nav-link active" href="/app") Inicio
                li( class="nav-item")
                    a( class="nav-link " href="/logout") Salir
                form.form-inline.my-2.my-lg-0
                    input( class="form-control" type="search" placeholder="Nombres" aria-label="Search")
                    
    
        svg( width="100%" height="150" class="svgTop")
            defs
                linearGradient(id="Gradient-1"  x1="50%"  y1="100%" x2="50%" y2="-5%" spreadMethod="pad")
                    stop(offset="0%" stop-color="#FFFFFF" stop-opacity="0") 
                    stop(offset="100%" stop-color="#000000" stop-opacity="1") 
            rect( x="0" y="0" width="100%" height="150" fill="url(#Gradient-1)" stroke="#333333" stroke-width="0px")      
        
        div(class=["container-fluid"] ,id="container_gap" style="padding-top:6rem")
            .row
                +columnaAll(12,2,2,2,2,2,1,"bd-sidebar")
                    include user_connect        
                    if USER
                        include chat
                +columnaAll(12,10,10,10,10,4,5,"bd-container")
                    block contenido
        nav( class="navbar fixed-bottom navbar-light bg-light")
            ul( class="nav navbar-nav navbar-right justify-content-end")        
                span.navbar-text #{USER.nombres}  #{USER.apellidos}
                
                    
        
            

                
