extends ./header.jade
block cuerpo
    body
        nav(class="navbar navbar-light bg-light fixed-top ")
            div( class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation")
                span.bar1
                span.bar2
                span.bar3
            div( class="collapse navbar-collapse" id="navbarToggleExternalContent" style="width:100%")
                ul( class="navbar-nav mr-auto mt-2 mt-lg-0")
                    li( class="nav-item")
                        a( class="nav-link" href="/app/imagenes/new") Subir Imagen
                    li( class="nav-item")
                        a( class="nav-link " href="/app/imagenes") Mis Imagenes
        svg( width="100%" height="150" class="svgTop")
            defs
                linearGradient(id="Gradient-1"  x1="50%"  y1="100%" x2="50%" y2="-5%" spreadMethod="pad")
                    stop(offset="0%" stop-color="#FFFFFF" stop-opacity="0") 
                    stop(offset="100%" stop-color="#000000" stop-opacity="1") 
            rect( x="0" y="0" width="100%" height="150" fill="url(#Gradient-1)" stroke="#333333" stroke-width="0px")      
        
        div(class=["container-fluid"] ,id="container_gap" style="padding-top:6rem")
            .row
                +columnaAll(12,2,2,2,2,2,1,"bd-sidebar")
                    p Hola
                    include user_connect        
                    if USER
                        include chat
                +columnaAll(12,10,10,10,10,4,5,"bd-content")
                    block contenido
        nav( class="navbar fixed-bottom navbar-light bg-light")
            a( class="navbar-brand" href="/app") Inicio
            ul( class="nav navbar-nav navbar-right")        
                span.navbar-text #{USER.nombres}  #{USER.apellidos}
                li( class="nav-item")
                    a( class="nav-link " href="/logout") Salir
                    
        
            

                
