extends ./header.jade
block cuerpo
    body
        
        header.menu-header
            .container
                .row
                    +column(6,6,6,"")
                        a(  href="/") 
                            i.fas.fa-user.fa-2x
                    +column(6,6,6,"")
                        ul.list-inline.text-right
                            li.list-inline-item
                                a(href="#") 
                                    i.fab.fa-facebook-square.fa-2x
                            li.list-inline-item
                                a(href="#" ) 
                                    i.fab.fa-twitter-square.fa-2x
            .menu-nav.text-right
                nav(class="container" role="menu")
                    ul.menu-list.list-inline.text-right
                        li.list-inline-item
                            a(href="/login") Ingresar
                        li.list-inline-item
                            a(href="/signup" ) Registrarse
        #main
            .container
                .row
                    block cotenido
                 
    