include mixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Gestón de Agua Potable
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
        link(rel="stylesheet", href="/docs/css/app.css")
        script(src="/socket.io/socket.io.js")
        script(src="/docs/js/handlebars.js")
    body(style="padding-bottom:10rem;")
        .container
            +nav("Project name", "dropdown_menu")
                +nav_item( "/", "active" ) Home
                +nav_item( "/app/imagenes/new" ) Subir Imagen
                +nav_item( "/app" )  Inicio
                +nav_item( "/app/imagenes" )  Mis Imagenes 
                +nav_item_dropdown( "#" )( label="Dropdown")
                    +nav_item( "#" ) Action
                    +nav_item( "#" ) Another action
                    +nav_item( "#" ) Something else here
                    +nav_divider
                    +nav_header Nav header
                    +nav_item( "#" ) Separated link
                    +nav_item( "#" ) One more separated link
            block contenido
            
            
            div(id="chat_window_1",class=["row","chat-window"],style="margin-left:2px;")
                +columna(10,10,12)
                    div(class=["panel","panel-default"])
                        div(class=["panel-heading","top-bar"])
                            +columna(8,8,8)
                                h3(class=["panel-title"])
                                    span(class=["glyphicon","glyphicon-comment"]) 
                                    Chat - Miguel
                            +columna(4,4,4,"text-align: right;")
                                a(href="#" )
                                    span(id="minim_chat_window",class=["glyphicon","glyphicon-minus","icon_minim"])
                                a(href="#" )
                                    span(class=["glyphicon","glyphicon-remove","icon_close"],data-id="chat_window_1")
                        
                        div(class=["panel-body","msg_container_base"] id="msg_container")
                            script(id="msg_sent" type="text/x-handlebars-template" src="/docs/js/client.js")
                                div(class=["row","msg_container","base_sent"])
                                    +columna(10,10,10)
                                        div(class=["messages","msg_sent"])
                                            p {{msg}}
                                            time(datetime="2009-11-13T20:00") Timothy • 51 min
                                    +columna(2,2,2,"padding-left: 2px;padding-right: 2px;")
                                        img(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive")
                            script(id="msg_receiver" type="text/x-handlebars-template" src="/docs/js/client.js")
                                 div(class=["row","msg_container","base_receive"])
                                    +columna(2,2,2,"padding-left: 2px;padding-right: 2px;")
                                        img(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive")
                                    +columna(10,10,10)
                                        div(class=["messages","msg_smsg_receiveent"])
                                            p {{msg}}
                                            time(datetime="2009-11-13T20:00") Timothy • 51 min
                        div(class=["panel-footer"])
                            .input-group
                                input(type="text" id="btn-input" name="btn-input" class=["form-control","input-sm","chat_input"] placeholder="Escribe tu mensaje aqui..s")
                                span(class="input-group-btn")
                                button(id="btn-chat" class=["btn", "btn-primary" ,"btn-sm"] onclick="return sendMsg()") Send
            div(id="chat_window_1",class=["row","chat-window"],style="margin-left:2px;")
                +columna(10,10,12)
                    div(class=["panel","panel-default"])
                        div(class=["panel-heading","top-bar"])
                            +columna(8,8,8)
                                h3(class=["panel-title"])
                                    span(class=["glyphicon","glyphicon-comment"]) 
                                    Chat - Miguel
                            +columna(4,4,4,"text-align: right;")
                                a(href="#" )
                                    span(id="minim_chat_window",class=["glyphicon","glyphicon-minus","icon_minim"])
                                a(href="#" )
                                    span(class=["glyphicon","glyphicon-remove","icon_close"],data-id="chat_window_1")
                        
                        div(class=["panel-body","msg_container_base"] id="msg_container")
                            if listMsg
                                for mensaje in listMsg
                                    div(class=["row","msg_container","base_sent"])
                                        +columna(10,10,10)
                                            div(class=["messages","msg_sent"])
                                                p #{mensaje.msg}
                                                
                                                - var fecha=mensaje.fechaEnvio.getTime();
                                                
                                                time(datetime=mensaje.fechaEnvio.getTime()) Timothy • 51 min
                                        +columna(2,2,2,"padding-left: 2px;padding-right: 2px;")
                                            img(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive")

                            script(id="msg_sent" type="text/x-handlebars-template" src="/docs/js/client.js")
                                div(class=["row","msg_container","base_sent"])
                                    +columna(10,10,10)
                                        div(class=["messages","msg_sent"])
                                            p {{msg}}
                                            time(datetime="2009-11-13T20:00") Timothy • 51 min
                                    +columna(2,2,2,"padding-left: 2px;padding-right: 2px;")
                                        img(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive")
                            script(id="msg_receiver" type="text/x-handlebars-template" src="/docs/js/client.js")
                                 div(class=["row","msg_container","base_receive"])
                                    +columna(2,2,2,"padding-left: 2px;padding-right: 2px;")
                                        img(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive")
                                    +columna(10,10,10)
                                        div(class=["messages","msg_smsg_receiveent"])
                                            p {{msg}}
                                            time(datetime="2009-11-13T20:00") Timothy • 51 min
                        div(class=["panel-footer"])
                            .input-group
                                input(type="text" id="btn-input" name="btn-input" class=["form-control","input-sm","chat_input"] placeholder="Escribe tu mensaje aqui..s")
                                span(class="input-group-btn")
                                button(id="btn-chat" class=["btn", "btn-primary" ,"btn-sm"] onclick="return sendMsg()") Send
            div(class=["btn-group","dropup"])
                button(type="button" class=["btn","btn-default","dropdown-toggle"]  data-toggle="dropdown")
                    span(class=["glyphicon","glyphicon-cog"])
                    span(class=["sr-only"]) Toggle Dropdown
                ul(class=["dropdown-menu"] role="menu")
                    li
                        a(href="#" id="new_chat") 
                            span(class=["glyphicon","glyphicon-plus"])
                            strong Novo
                    li
                        a(href="#" ) 
                            span(class=["glyphicon","glyphicon-list"])
                            strong Ver outras
                    li
                        a(href="#" ) 
                            span(class=["glyphicon","glyphicon-remove"])
                            strong Fechar Tudo
                    li(class=["divider"])
                    li
                        a(href="#" ) 
                            span(class=["glyphicon","glyphicon-eye-close"])
                            strong Invisivel
                            
        
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
        script(src="/docs/js/client.js")
