extends ./layoutPublic.jade
block cotenido
    .row
        +column(3,2,1,"")
        +column(6,8,10,"")
            form(action="/sessions", method="post")
                .form-group
                    label(for="email") Email
                    input(type="email", id="email", name="email" , placeholder="example@empresa.com" class="form-control")
                .form-group
                    label(for="password") Contraseña
                    input(type="password", id="password" name="password" , placeholder="Contraseña" class="form-control") 
                .form-group
                    input(type="submit" value="Ingresar" class="btn btn-info")    
        +column(3,2,1,"")            