extends ./layoutPublic.jade
block cotenido
    +column(2,2,1,"bd-sidebar")
    +column(8,8,10,"bd-content")
        form(action="/register", method="post")
            div( class="input-group form-group")
                div( class="input-group-prepend")
                    span( class="input-group-text" ) Nombre y Apellido
                input( type="text" class="form-control" name="nombres" placeholder="Ejem: Freddy Geovanni" required)
                input( type="text" class="form-control" name="apellidos" placeholder="Ejem: Castillo Cabascango" required)
            div( class="input-group form-group")
                div( class="input-group-prepend")
                    span( class="input-group-text" ) Email
                input( type="text" class="form-control" name="email" placeholder="example@empresa.com" required)
            div( class="input-group form-group")
                div( class="input-group-prepend")
                    span( class="input-group-text" ) Nombre de Pila
                input( type="text" class="form-control" name="nickname" placeholder="fredd")  
            div( class="input-group form-group ")
                div( class="input-group-prepend")
                    span( class="input-group-text" ) Fecha de Nacimiento
                input( type="date" class="form-control" name="fechaNacimiento" required) 
            div( class="input-group form-group")
                div( class="input-group-prepend")
                    span( class="input-group-text" ) Contrase単a
                input( type="text" class="form-control" name="password" placeholder="Contrase単a" required)   
            div( class="input-group form-group")
                div( class="input-group-prepend")
                    span( class="input-group-text" ) Confirma tu Contrase単a
                input( type="text" class="form-control" name="password_confirmation" placeholder="Confirma Contrase単a" required)  
            
            
            div
                input(type="submit" value="Ingresar" class="btn btn-info")    
    +column(2,2,1,"bd-sidebar")