<!--Chat Write-->
script(id="msg_writed" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
    div(id="div_{{fromId}}" class="writing")
        i.fas.fa-spinner.fa-spin.fa-1x
        p(id="txt_{{fromId}}" ) {{from}} esta escribiendo..
        


<!--Chat Revive-->
script(id="msg_receiver" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
    div(class="chat-msg chat-msg-receive")
        div(class="messages")
            p {{msg}}
            time(datetime="2009-11-13T20:00") {{fechaEnvio}}
<!--Chat Envio-->
script(id="msg_sent" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
    div(class="chat-msg chat-msg-send")
        div(class="messages")
            p {{msg}}
            time(datetime="2009-11-13T20:00") {{fechaEnvio}}
<!--Layouty Windows Chat-->
script(id="chat_windows" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
    div(class=["card chat position-fixed chat-{{_id}}"])
        .card-header.chat-header
            .float-right.chat-control
                a( class="chat_icon_minim text-right" data-toggle="collapse" href="#chat-body-{{_id}}" role="button" aria-expanded="false" aria-controls="chat-body-{{_id}}" )
                    i.fas.fa-minus.chat-minus
                a(href="javascript:"  class="chat_icon_close" )
                    i.fas.fa-times.text-right
            p.card-text
                small.text-muted {{userTo.nombreS}}
        div(class="card-body chat-body collapse" id="chat-body-{{_id}}")
        div(class="card-footer chat-footer")
            form.form-inline
                button.chat-btn
                    i.fas.fa-paper-plane
                input( idCont="{{_id}}" idUserTo="{{userTo._id}}" class="form-control chat_input form-control-sm" type="search" placeholder="Escribe tu mensaje aqui..." aria-label="Search")
<!--User conected-->
script(id="user_connect" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
    if conected=="S"
        i.fas.fa-circle.fa-1x.text-success
    else
        i.far.fa-circle.fa-1x
    .portrait-img
        img( class="rounded mx-auto d-block" src="data:{{profile_img.contentType}};base64, {{profile_img.data}}"  )
    small.text-muted {{nombres}} {{apellidos}} 
    if tiempo_current!=""
        span.badge.badge-pill.badge-dark.timeConeccted {{tiempo_current}}
    else
        span.badge.badge-pill.badge-dark.timeConeccted.hide {{tiempo_current}}
    if newMsg>0
        span.badge.badge-primary.badge-pill {{newMsg}}
<!--Search result-->
script(id="filter_result" type="text/x-handlebars-template" src="/docs/js/socketClient.js")
    a( href="/app/user/{{_id}}" class="list-group-item list-group-item-action") {{nombres}} {{apellidos}}

<!--Search result-->
script(id="image-template" type="text/x-handlebars-template" src="/docs/js/client.js")
        div( class="demo-image" style="background-image: url('/docs/imagenes/{{id}}.{{extension}}')" data-image="/docs/imagenes/{{id}}.{{extension}}" data-title="{{titulo}}" data-caption="por {{creator.email}} ")



