extends ../../layout.jade
block contenido
    div(class="container")
        h1 Imagenes
        for imagen in imagenes
            .white.border.tr.large-padding
                .row
                    .col-md-10
                        h2=imagen.titulo
                    .col-md-2
                        a(href="/app/imaganes/#{imagen._id}/edit" class="right-space") Editar
                        form(action="/app/imaganes/#{imagen._id}?_method=DELETE")
                            a() Eliminar
