extends ../../layout.jade
block contenido
    .row
        +columna(12,12,12)
            form(action="/app/imagenes", method="post" , enctype="multipart/form-data")
                h1 Subir Nueva Imagen
                div(class="form-group")
                    label(for="title") Titulo
                    input(type="text", id="title", name="title" , placeholder="Titulo de la imagen" class="form-control")
                
                div( class="input-group mb-3")
                    div( class="input-group-prepend")
                        span( class="input-group-text") Archivo
                    div( class="custom-file")
                        input( type="file" class="custom-file-input" id="archivo" name="archivo")
                        label(for="archivo" class="custom-file-label") Archivo
                div
                    +button("primary","","submit","Guardar")
                    