extends ../layout.jade
block contenido
    
    if imagenes
        div( id="carouselExampleControls" class="gallery cf"  )            
            each imagen, i in imagenes
                div
                    img(  src="/docs/imagenes/#{imagen._id}.#{imagen.extension}"   class="img-responsive" )
                    div.text 
                        h2 #{imagen.titulo}
                        p por #{imagen.creator.email}
    script(id="image-template" type="text/x-handlebars-template" src="/docs/js/client.js")    
         div(class="img-container")
            a(href="/app/imagenes/{{id}}")
                h2 {{titulo}}
            img(src="/docs/imagenes/{{id}}.{{extension}}", class="img-thumbnail")
            p por {{creator.email}} 