extends ../layout.jade
block contenido
    for imagen in imagenes
        div(class="img-container")
            h2 Archivo #{imagen.titulo}
            img(src="/docs/imagenes/#{imagen._id}.#{imagen.extension}", class="main-img")
            if(typeof imagen.creator!="undefined")
                p por #{imagen.creator.email}